<a href="https://colab.research.google.com/github/Anamika-debug/ML-Task/blob/main/Recommendation_System_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

data=pd.read_csv(r'/content/UniversityRanking_16_17_18_19_20_21.csv')
df=pd.read_csv(r'/content/UniversityRanking_16_17_18_19_20_21.csv')
print(df)

      Institute Id                                     Institute Name  \
0    NIRF-UNIV-248              Indian Institute Of Science Bangalore
1    NIRF-UNIV-282                   Institute Of Chemical Technology
2    NIRF-UNIV-319                        Jawaharlal Nehru University
3    NIRF-UNIV-745                  University Of Hyderabad-Hyderabad
4    NIRF-UNIV-708                                  Tezpur University
..             ...                                                ...
595    IR-O-U-0121                                     Goa University
596    IR-O-U-0043  Vignan'S Foundation For Science, Technology An...
597    IR-O-U-0555                             Graphic Era University
598    IR-O-U-0223                         Jain University, Bangalore
599    IR-O-U-0564         University Of Petroleum And Energy Studies

          City           State  Score  Rank    TLR    RPC      GO     OI  \
0    Bangalore      Karnataka   91.81     1  94.45  96.12  100.00  67.18
1       Mumbai    Maharashtra   87.58     2  84.53  96.51   94.00  61.66
2    New Delhi           Delhi  86.45     3  89.45  84.33  100.00  73.57
3    Hyderabad       Telangana  85.45     4  74.49  89.22   86.71  88.83
4       Tezpur          Assam   84.31     5  83.81  86.64   87.15  76.76
..         ...             ...    ...   ...    ...    ...     ...    ...
595        Goa             Goa  38.96    96  48.86  15.05   60.91  55.96
596     Guntur  Andhra Pradesh  38.92    97  49.40  15.25   60.65  56.03
597   Dehradun     Uttarakhand  38.91    98  47.99   9.74   60.76  62.23
598   Bengluru       Karnataka  38.89    99  39.29  12.72   73.89  59.54
599   Dehradun     Uttarakhand  38.88   100  46.46  15.08   60.13  61.98

     Perception  Year
0        100.00  2016
1         97.00  2016
2         98.00  2016
3         98.00  2016
4         86.00  2016
..          ...   ...
595       20.01  2021
596       18.00  2021
597       32.17  2021
598       25.52  2021
599       21.90  2021

[600 rows x 12 columns]

In [ ]:
df.describe()

,Score,Rank,TLR,RPC,GO,OI,Perception,Year
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.00000
mean,48.583767,50.423333,59.797050,28.992683,70.795758,58.279083,24.778450,2018.50000
std,10.357027,28.906518,12.360125,20.294081,17.444724,11.071956,25.398682,1.70925
min,32.990000,1.000000,22.610000,1.040000,0.000000,20.570000,0.000000,2016.00000
25%,40.877500,25.000000,50.790000,14.030000,61.840000,51.230000,4.327500,2017.00000
50%,46.295000,50.000000,59.850000,23.500000,69.240000,57.345000,18.935000,2018.50000
75%,53.132500,75.250000,68.665000,41.842500,81.112500,65.540000,34.597500,2020.00000
max,91.810000,100.000000,96.430000,96.510000,100.000000,88.830000,100.000000,2021.00000

In [ ]:
def zscores(df):
    data=df
    df1=df
    cols=list(df1.columns)
    cols.remove('Institute Id')
    cols.remove('Institute Name')
    cols.remove('City')
    cols.remove('State')
    cols.remove('Rank')
    cols.remove('Year')
    for col in cols:
        col_zscore=col+'_ZScore'
        df1[col_zscore] = (df1[col] - df1[col].mean())/df1[col].std(ddof=0)
    df2=df1
    df2.drop('Institute Id',inplace=True,axis=1)
    df2.drop('Institute Name',inplace=True,axis=1)
    df2.drop('City',inplace=True,axis=1)
    df2.drop('State',inplace=True,axis=1)
    df2.drop('Rank',inplace=True,axis=1)
    mvcols=df2.max()
    print(mvcols)
    max_zscore=df1['Score_ZScore'].max()
    max_ztlr=df1['TLR_ZScore'].max()
    max_zrpc=df1['RPC_ZScore'].max()
    max_zgo=df1['GO_ZScore'].max()
    max_zoi=df1['OI_ZScore'].max()
    max_zPrcp=df1['Perception_ZScore'].max()
    print('Maximum Z Scores: ',max_zscore,max_ztlr,max_zrpc,max_zgo,max_zoi,max_zPrcp)
    th_zscore=max_zscore*0.30
    th_ztlr=max_ztlr*0.30
    th_zrpc=max_zrpc*0.30
    th_zgo=max_zgo*0.30
    th_zoi=max_zoi*0.30
    th_zPrcp=max_zPrcp*0.30
    th_zscore,th_ztlr,th_zrpc,th_zgo,th_zoi,th_zPrcp
    df2.drop('Score',inplace=True,axis=1)
    df2.drop('TLR',inplace=True,axis=1)
    df2.drop('RPC',inplace=True,axis=1)
    df2.drop('GO',inplace=True,axis=1)
    df2.drop('OI',inplace=True,axis=1)
    df2.drop('Perception',inplace=True,axis=1)
    df3=df2
    df3['Score Parameter']=df3['Score_ZScore'].ge(th_zscore)
    df3['TLR Parameter']=df3['TLR_ZScore'].ge(th_ztlr)
    df3['RPC Parameter']=df3['RPC_ZScore'].ge(th_zrpc)
    df3['GO Parameter']=df3['GO_ZScore'].ge(th_zgo)
    df3['OI Parameter']=df3['OI_ZScore'].ge(th_zoi)
    df3['Perception Parameter']=df3['Perception_ZScore'].ge(th_zPrcp)
    df3=df3*1
    data['Score Parameter']=df3['Score_ZScore'].ge(th_zscore)
    data['TLR Parameter']=df3['TLR_ZScore'].ge(th_ztlr)
    data['RPC Parameter']=df3['RPC_ZScore'].ge(th_zrpc)
    data['GO Parameter']=df3['GO_ZScore'].ge(th_zgo)
    data['OI Parameter']=df3['OI_ZScore'].ge(th_zoi)
    data['Perception Parameter']=df3['Perception_ZScore'].ge(th_zPrcp)
    data=data*1
    return data

In [ ]:
fet16=df['Year']==2016
rc16=df[fet16]
print(rc16)
df16=zscores(rc16)
print(df16)

     Institute Id                                     Institute Name  \
0   NIRF-UNIV-248              Indian Institute Of Science Bangalore
1   NIRF-UNIV-282                   Institute Of Chemical Technology
2   NIRF-UNIV-319                        Jawaharlal Nehru University
3   NIRF-UNIV-745                  University Of Hyderabad-Hyderabad
4   NIRF-UNIV-708                                  Tezpur University
..            ...                                                ...
95   NIRF-UNIV-21                    Ambedkar University Delhi (Aud)
96  NIRF-UNIV-573  Rajasthan University Of Veterinary & Animal Sc...
97  NIRF-UNIV-541                                     Pes University
98  NIRF-UNIV-265                    Indian Law Institute -New Delhi
99  NIRF-UNIV-126  Chettinad Academy Of Research And Education  (...

         City         State  Score  Rank    TLR    RPC      GO     OI  \
0   Bangalore    Karnataka   91.81     1  94.45  96.12  100.00  67.18
1      Mumbai  Maharashtra   87.58     2  84.53  96.51   94.00  61.66
2   New Delhi         Delhi  86.45     3  89.45  84.33  100.00  73.57
3   Hyderabad     Telangana  85.45     4  74.49  89.22   86.71  88.83
4      Tezpur        Assam   84.31     5  83.81  86.64   87.15  76.76
..        ...           ...    ...   ...    ...    ...     ...    ...
95      Delhi         Delhi  47.83    96  63.29  24.19   72.24  61.07
96    Bikaner     Rajasthan  47.65    97  89.63  28.30    0.00  62.94
97  Bangalore    Karnataka   47.30    98  49.98  48.73    0.00  42.80
98  New Delhi         Delhi  47.19    99  67.43  20.49   97.70  49.86
99    Chennai   Tamil Nadu   47.05   100  67.09  33.23  100.00  57.58

    Perception  Year
0        100.0  2016
1         97.0  2016
2         98.0  2016
3         98.0  2016
4         86.0  2016
..         ...   ...
95        64.0  2016
96         0.0  2016
97        64.0  2016
98        64.0  2016
99         0.0  2016

[100 rows x 12 columns]
Score                  91.810000
TLR                    96.430000
RPC                    96.510000
GO                    100.000000
OI                     88.830000
Perception            100.000000
Year                 2016.000000
Score_ZScore            2.868440
TLR_ZScore              1.960058
RPC_ZScore              2.227255
GO_ZScore               0.578280
OI_ZScore               1.813426
Perception_ZScore       1.251479
dtype: float64
Maximum Z Scores:  2.8684399004810515 1.9600577276458633 2.2272549895725295 0.5782799632366612 1.81342570796206 1.2514794017208657
    Year  Score_ZScore  TLR_ZScore  RPC_ZScore  GO_ZScore  OI_ZScore  \
0   2016      2.868440    1.835069    2.204328   0.578280   0.236926
1   2016      2.464522    1.208862    2.227255   0.394724  -0.165026
2   2016      2.356619    1.519441    1.511221   0.578280   0.702230
3   2016      2.261130    0.575081    1.798693   0.171703   1.813426
4   2016      2.152273    1.163412    1.647020   0.185164   0.934518
..   ...           ...         ...         ...        ...        ...
95  2016     -1.331164   -0.131926   -2.024273  -0.270973  -0.207989
96  2016     -1.348352    1.530803   -1.782655  -2.480990  -0.071820
97  2016     -1.381773   -0.972129   -0.581622  -2.480990  -1.538365
98  2016     -1.392276    0.129414   -2.241787   0.507917  -1.024273
99  2016     -1.405645    0.107951   -1.492832   0.578280  -0.462122

    Perception_ZScore  Score Parameter  TLR Parameter  RPC Parameter  \
0            1.251479                1              1              1
1            1.175402                1              1              1
2            1.200761                1              1              1
3            1.200761                1              0              1
4            0.896450                1              1              1
..                ...              ...            ...            ...
95           0.338546                0              0              0
96          -1.284446                0              1              0
97           0.338546                0              0              0
98           0.338546                0              0              0
99          -1.284446                0              0              0

    GO Parameter  OI Parameter  Perception Parameter
0              1             0                     1
1              1             0                     1
2              1             1                     1
3              0             1                     1
4              1             1                     1
..           ...           ...                   ...
95             0             0                     0
96             0             0                     0
97             0             0                     0
98             1             0                     0
99             1             0                     0

[100 rows x 13 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
fet17=df['Year']==2017
rc17=df[fet17]
print(rc17)
df17=zscores(rc17)
print(df17)

        Institute Id                                     Institute Name  \
100   IR17-I-2-18243              Indian Institute Of Science Bangalore
101   IR17-I-2-1-319                        Jawaharlal Nehru University
102   IR17-I-2-18500                           Banaras Hindu University
103   IR17-I-2-30673  Jawaharlal Nehru Centre For Advanced Scientifi...
104   IR17-I-2-10326                                Jadavpur University
..               ...                                                ...
195  IR17-I-2-1-N001                     Sri Krishnadevaraya University
196   IR17-I-2-18168                                Alagappa University
197   IR17-I-2-18385  Narsee Monjee Institute Of Management Studies ...
198   IR17-I-1-18289          Jawaharlal Nehru Technological University
199    IR17-I-2-1-57  B.S. Abdur Rahman Institute Of Science And Tec...

          City           State  Score  Rank    TLR    RPC     GO     OI  \
100  Bengaluru       Karnataka  83.28     1  83.11  87.59  87.97  61.48
101  New Delhi           Delhi  61.53     2  62.11  33.96  98.71  82.40
102   Varanasi   Uttar Pradesh  58.92     3  47.85  49.96  94.36  62.97
103  Bengaluru       Karnataka  58.25     4  78.28  51.93  68.79  47.44
104    Kolkata     West Bengal  57.32     5  48.64  54.09  91.42  53.37
..         ...             ...    ...   ...    ...    ...    ...    ...
195  Anantapur  Andhra Pradesh  33.76    96  34.29   7.72  77.37  56.81
196  Karaikudi      Tamil Nadu  33.66    97  38.56  18.92  49.32  61.29
197     Mumbai     Maharashtra  33.60    98  40.46   8.45  63.88  55.34
198   Kakinada  Andhra Pradesh  33.44    99  36.81  14.03  60.18  57.19
199    Chennai      Tamil Nadu  32.99   100  42.56   6.33  56.98  63.08

     Perception  Year
100       83.33  2017
101       47.27  2017
102       44.01  2017
103        6.92  2017
104       28.81  2017
..          ...   ...
195        0.04  2017
196        4.17  2017
197        6.10  2017
198        4.32  2017
199        6.07  2017

[100 rows x 12 columns]
Score                  83.280000
TLR                    83.110000
RPC                    87.590000
GO                     98.710000
OI                     86.490000
Perception             83.330000
Year                 2017.000000
Score_ZScore            5.190210
TLR_ZScore              2.688815
RPC_ZScore              4.594803
GO_ZScore               2.404269
OI_ZScore               2.052271
Perception_ZScore       5.525655
dtype: float64
Maximum Z Scores:  5.190210069646238 2.6888152222097847 4.5948031829829645 2.4042691285929387 2.0522706458779076 5.5256547488233565
     Year  Score_ZScore  TLR_ZScore  RPC_ZScore  GO_ZScore  OI_ZScore  \
100  2017      5.190210    2.688815    4.594803   1.569494  -0.114498
101  2017      2.460416    0.987208    0.944044   2.404269   1.697929
102  2017      2.132841   -0.168265    2.033213   2.066162   0.014590
103  2017      2.048751    2.297446    2.167317   0.078713  -1.330869
104  2017      1.932029   -0.104252    2.314355   1.837648  -0.817117
..    ...           ...         ...         ...        ...        ...
195  2017     -1.024934   -1.267017   -0.842193   0.745600  -0.519089
196  2017     -1.037485   -0.921023   -0.079775  -1.434609  -0.130959
197  2017     -1.045015   -0.767068   -0.792500  -0.302921  -0.646444
198  2017     -1.065096   -1.062824   -0.412652  -0.590506  -0.486167
199  2017     -1.121575   -0.596908   -0.936815  -0.839229   0.024119

     Perception_ZScore  Score Parameter  TLR Parameter  RPC Parameter  \
100           5.525655                1              1              1
101           2.776895                1              1              0
102           2.528394                1              0              1
103          -0.298880                1              1              1
104           1.369738                1              0              1
..                 ...              ...            ...            ...
195          -0.823324                0              0              0
196          -0.508505                0              0              0
197          -0.361386                0              0              0
198          -0.497071                0              0              0
199          -0.363673                0              0              0

     GO Parameter  OI Parameter  Perception Parameter
100             1             0                     1
101             1             1                     1
102             1             0                     1
103             0             0                     0
104             1             0                     0
..            ...           ...                   ...
195             1             0                     0
196             0             0                     0
197             0             0                     0
198             0             0                     0
199             0             0                     0

[100 rows x 13 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
fet18=df['Year']==2018
rc18=df[fet18]
print(rc18)
df18=zscores(rc18)
print(df18)

           Institute Id                                     Institute Name  \
200     IR-1-O-O-U-0220                        Indian Institute Of Science
201     IR-1-O-O-U-0109                        Jawaharlal Nehru University
202   IR-3-O-OMD-U-0500                           Banaras Hindu University
203  IR-4-O-OEMA-U-0439                                    Anna University
204     IR-1-O-O-U-0042                            University Of Hyderabad
..                  ...                                                ...
295     IR-1-O-O-U-0569                          The University Of Burdwan
296     IR-1-O-D-U-0294                    D. Y. Patil Educational Society
297     IR-1-O-E-U-0014  International Institute Of Information Technology
298   IR-3-O-OEM-U-0733                                     Pes University
299    IR-2-O-OE-U-0522         Jaypee Institute Of Information Technology

           City          State  Score  Rank    TLR    RPC     GO     OI  \
200   Bengaluru      Karnataka  82.16     1  84.54  91.08  75.48  43.70
201   New Delhi          Delhi  67.57     2  74.71  42.60  99.12  79.32
202    Varanasi  Uttar Pradesh  63.52     3  65.15  50.76  95.42  53.13
203     Chennai     Tamil Nadu  62.82     4  57.31  60.76  79.15  52.55
204   Hyderabad      Telangana  60.54     5  74.36  45.34  84.45  55.71
..          ...            ...    ...   ...    ...    ...    ...    ...
295  Barddhaman    West Bengal  37.68    96  51.36  21.23  64.62  27.42
296    Kolhapur    Maharashtra  37.61    97  67.68   4.30  51.69  56.82
297   Hyderabad      Telangana  37.52    98  44.31  21.73  56.78  54.58
298   Bengaluru      Karnataka  37.51    99  54.21   9.28  60.17  61.18
299       Noida  Uttar Pradesh  37.47   100  43.19  17.57  60.50  53.04

     Perception  Year
200      100.00  2018
201       46.28  2018
202       43.62  2018
203       63.22  2018
204       21.66  2018
..          ...   ...
295        2.40  2018
296        0.00  2018
297        8.87  2018
298        3.17  2018
299       18.35  2018

[100 rows x 12 columns]
Score                  82.160000
TLR                    84.540000
RPC                    91.080000
GO                     99.120000
OI                     79.320000
Perception            100.000000
Year                 2018.000000
Score_ZScore            4.737927
TLR_ZScore              2.113262
RPC_ZScore              4.416653
GO_ZScore               2.920735
OI_ZScore               2.483115
Perception_ZScore       6.020719
dtype: float64
Maximum Z Scores:  4.737927305913721 2.1132621559459923 4.416653093298729 2.920735173265764 2.4831154269333164 6.020718754412713
     Year  Score_ZScore  TLR_ZScore  RPC_ZScore  GO_ZScore  OI_ZScore  \
200  2018      4.737927    2.113262    4.416653   0.726076  -0.895725
201  2018      2.841441    1.150471    1.276553   2.920735   2.483115
202  2018      2.315000    0.214125    1.805085   2.577239  -0.001214
203  2018      2.224010   -0.553757    2.452795   1.066786  -0.056232
204  2018      1.927644    1.116191    1.454026   1.558821   0.243519
..    ...           ...         ...         ...        ...        ...
295  2018     -1.043821   -1.136524   -0.107604  -0.282131  -2.440012
296  2018     -1.052920    0.461924   -1.204178  -1.482509   0.348812
297  2018     -1.064619   -1.827030   -0.075219  -1.009970   0.136330
298  2018     -1.065919   -0.857383   -0.881618  -0.695254   0.762392
299  2018     -1.071118   -1.936728   -0.344666  -0.664618  -0.009751

     Perception_ZScore  Score Parameter  TLR Parameter  RPC Parameter  \
200           6.020719                1              1              1
201           2.383526                1              1              0
202           2.203427                1              0              1
203           3.530474                1              0              1
204           0.716592                1              1              1
..                 ...              ...            ...            ...
295          -0.587435                0              0              0
296          -0.749931                0              0              0
297          -0.149374                0              0              0
298          -0.535301                0              0              0
299           0.492483                0              0              0

     GO Parameter  OI Parameter  Perception Parameter
200             0             0                     1
201             1             1                     1
202             1             0                     1
203             1             0                     1
204             1             0                     0
..            ...           ...                   ...
295             0             0                     0
296             0             0                     0
297             0             0                     0
298             0             1                     0
299             0             0                     0

[100 rows x 13 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
fet19=df['Year']==2019
rc19=df[fet19]
print(rc19)
df19=zscores(rc19)
print(df19)

    Institute Id                                     Institute Name  \
300  IR-O-U-0220                        Indian Institute Of Science
301  IR-O-U-0109                        Jawaharlal Nehru University
302  IR-O-U-0500                           Banaras Hindu University
303  IR-O-U-0042                            University Of Hyderabad
304  IR-O-U-0570                                Calcutta University
..           ...                                                ...
395  IR-O-U-0372                       Central University Of Punjab
396  IR-O-U-0050                                   Assam University
397  IR-O-U-0164  Kurukshetra Universitymore Details\nClose | \n...
398  IR-O-U-0047                            Rajiv Gandhi University
399  IR-O-U-0465  Meenakshi Academy Of Higher Education And Rese...

            City              State  Score  Rank    TLR    RPC     GO     OI  \
300    Bengaluru          Karnataka  82.28     1  83.16  89.24  78.57  48.47
301    New Delhi              Delhi  68.68     2  76.75  41.85  99.87  75.87
302     Varanasi      Uttar Pradesh  64.55     3  69.72  46.48  96.37  57.01
303    Hyderabad          Telangana  61.85     4  74.81  43.78  83.64  58.77
304      Kolkata        West Bengal  60.87     5  62.26  47.10  91.54  60.14
..           ...                ...    ...   ...    ...    ...    ...    ...
395     Bathinda             Punjab  38.68    95  61.46  13.62  46.73  60.12
396      Silchar              Assam  38.67    97  56.32  13.29  63.64  45.81
397  Kurukshetra            Haryana  38.60    98  50.28  10.62  73.97  47.24
398     Itanagar  Arunachal Pradesh  38.48    99  61.40   2.68  66.64  58.93
399      Chennai         Tamil Nadu  38.45   100  63.85   1.62  66.26  55.61

     Perception  Year
300      100.00  2019
301       55.27  2019
302       47.28  2019
303       36.71  2019
304       37.39  2019
..          ...   ...
395        7.91  2019
396        4.70  2019
397        8.25  2019
398        0.41  2019
399        0.00  2019

[100 rows x 12 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Score                  82.280000
TLR                    83.260000
RPC                    89.240000
GO                     99.870000
OI                     75.870000
Perception            100.000000
Year                 2019.000000
Score_ZScore            4.640280
TLR_ZScore              2.087556
RPC_ZScore              4.532868
GO_ZScore               2.757066
OI_ZScore               2.373453
Perception_ZScore       5.526521
dtype: float64
Maximum Z Scores:  4.640280400969135 2.0875556582707033 4.532868080676573 2.7570655668286492 2.3734533620640454 5.5265209883323205
     Year  Score_ZScore  TLR_ZScore  RPC_ZScore  GO_ZScore  OI_ZScore  \
300  2019      4.640280    2.077161    4.532868   0.826766  -0.713489
301  2019      2.883826    1.410851    1.321519   2.757066   2.373453
302  2019      2.350433    0.680093    1.635267   2.439880   0.248645
303  2019      2.001725    1.209191    1.452304   1.286232   0.446931
304  2019      1.875157   -0.095362    1.677281   2.002164   0.601278
..    ...           ...         ...         ...        ...        ...
395  2019     -0.990705   -0.178521   -0.591467  -2.058714   0.599025
396  2019     -0.991996   -0.712816   -0.613829  -0.526256  -1.013171
397  2019     -1.001037   -1.340665   -0.794760   0.409894  -0.852064
398  2019     -1.016535   -0.184758   -1.332808  -0.254383   0.464957
399  2019     -1.020409    0.069916   -1.404638  -0.288820   0.090918

     Perception_ZScore  Score Parameter  TLR Parameter  RPC Parameter  \
300           5.526521                1              1              1
301           2.677132                1              1              0
302           2.168154                1              1              1
303           1.494824                1              1              1
304           1.538141                1              0              1
..                 ...              ...            ...            ...
395          -0.339793                0              0              0
396          -0.544276                0              0              0
397          -0.318134                0              0              0
398          -0.817557                0              0              0
399          -0.843675                0              0              0

     GO Parameter  OI Parameter  Perception Parameter
300             0             0                     1
301             1             1                     1
302             1             0                     1
303             1             0                     0
304             1             0                     0
..            ...           ...                   ...
395             0             0                     0
396             0             0                     0
397             0             0                     0
398             0             0                     0
399             0             0                     0

[100 rows x 13 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
fet20=df['Year']==2020
rc20=df[fet20]
print(rc20)
df20=zscores(rc20)
print(df20)

    Institute Id                                     Institute Name  \
400  IR-O-U-0220                        Indian Institute Of Science
401  IR-O-U-0109                        Jawaharlal Nehru University
402  IR-O-U-0500                           Banaras Hindu University
403  IR-O-U-0436                         Amrita Vishwa Vidyapeetham
404  IR-O-U-0575                                Jadavpur University
..           ...                                                ...
495  IR-O-U-0366                                   Utkal University
496  IR-O-U-0555                             Graphic Era University
497  IR-O-U-0451       Chettinad Academy Of Research And Education
498  IR-O-U-0164                             Kurukshetra University
499  IR-O-U-0043  Vignan'S Foundation For Science, Technology & ...

                     City           State  Score  Rank    TLR    RPC      GO  \
400             Bengaluru       Karnataka  84.18     1  82.22  92.16   82.89
401             New Delhi           Delhi  70.16     2  74.98  44.80  100.00
402              Varanasi   Uttar Pradesh  63.15     3  70.91  44.89   85.65
403            Coimbatore      Tamil Nadu  62.27     4  69.65  52.11   73.66
404               Kolkata     West Bengal  61.99     5  53.38  52.96   90.39
..                    ...             ...    ...   ...    ...    ...     ...
495           Bhubaneswar          Odisha  40.05    96  42.89  11.50   77.12
496              Dehradun     Uttarakhand  40.04    97  55.59   8.36   61.02
497  Kanchipuram District      Tamil Nadu  39.97    98  70.68   5.16   48.45
498           Kurukshetra         Haryana  39.79    99  49.89   9.95   68.15
499                Guntur  Andhra Pradesh  39.71   100  57.39   8.36   60.60

        OI  Perception  Year
400  52.84      100.00  2020
401  75.10       67.24  2020
402  58.76       53.99  2020
403  65.83       44.33  2020
404  48.67       71.44  2020
..     ...         ...   ...
495  44.13       39.00  2020
496  59.78       26.73  2020
497  56.63       18.74  2020
498  48.88       33.21  2020
499  58.11       20.52  2020

[100 rows x 12 columns]
Score                  84.180000
TLR                    82.400000
RPC                    92.160000
GO                    100.000000
OI                     76.160000
Perception            100.000000
Year                 2020.000000
Score_ZScore            4.688628
TLR_ZScore              2.300437
RPC_ZScore              4.574584
GO_ZScore               2.797892
OI_ZScore               2.381621
Perception_ZScore       4.940239
dtype: float64
Maximum Z Scores:  4.6886279373727 2.300436634044058 4.574584038597541 2.797892030364947 2.3816207730758188 4.940238931034147
     Year  Score_ZScore  TLR_ZScore  RPC_ZScore  GO_ZScore  OI_ZScore  \
400  2020      4.688628    2.280633    4.574584   1.239678  -0.496501
401  2020      2.853881    1.484074    1.387382   2.797892   2.250797
402  2020      1.936508    1.036285    1.393439   1.491032   0.234137
403  2020      1.821346    0.897658    1.879325   0.399098   1.106707
404  2020      1.784703   -0.892399    1.936528   1.922706  -1.011156
..    ...           ...         ...         ...        ...        ...
495  2020     -1.086505   -2.046528   -0.853620   0.714201  -1.571476
496  2020     -1.087814   -0.649250   -1.064933  -0.752032   0.360024
497  2020     -1.096974    1.010980   -1.280285  -1.896787  -0.028744
498  2020     -1.120530   -1.276375   -0.957931  -0.102700  -0.985238
499  2020     -1.131000   -0.451211   -1.064933  -0.790282   0.153915

     Perception_ZScore  Score Parameter  TLR Parameter  RPC Parameter  \
400           4.940239                1              1              1
401           2.591909                1              1              1
402           1.642111                1              1              1
403           0.949654                1              1              1
404           2.892977                1              0              1
..                 ...              ...            ...            ...
495           0.567585                0              0              0
496          -0.311964                0              0              0
497          -0.884710                0              1              0
498           0.152541                0              0              0
499          -0.757114                0              0              0

     GO Parameter  OI Parameter  Perception Parameter
400             1             0                     1
401             1             1                     1
402             1             0                     1
403             0             1                     0
404             1             0                     1
..            ...           ...                   ...
495             0             0                     0
496             0             0                     0
497             0             0                     0
498             0             0                     0
499             0             0                     0

[100 rows x 13 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
fet21=df['Year']==2021
rc21=df[fet21]
print(rc21)
df21=zscores(rc21)
print(df21)

    Institute Id                                     Institute Name  \
500  IR-O-U-0220                        Indian Institute Of Science
501  IR-O-U-0109                        Jawaharlal Nehru University
502  IR-O-U-0500                           Banaras Hindu University
503  IR-O-U-0570                                Calcutta University
504  IR-O-U-0436                         Amrita Vishwa Vidyapeetham
..           ...                                                ...
595  IR-O-U-0121                                     Goa University
596  IR-O-U-0043  Vignan'S Foundation For Science, Technology An...
597  IR-O-U-0555                             Graphic Era University
598  IR-O-U-0223                         Jain University, Bangalore
599  IR-O-U-0564         University Of Petroleum And Energy Studies

           City           State  Score  Rank    TLR    RPC      GO     OI  \
500   Bengaluru       Karnataka  82.67     1  79.13  91.48   78.23  58.39
501   New Delhi           Delhi  67.99     2  71.19  44.96   95.07  73.36
502    Varanasi   Uttar Pradesh  64.02     3  64.50  45.00  100.00  53.13
503     Kolkata     West Bengal  62.06     4  66.20  43.92   91.72  60.98
504  Coimbatore      Tamil Nadu  61.23     5  64.23  54.33   71.35  65.54
..          ...             ...    ...   ...    ...    ...     ...    ...
595         Goa             Goa  38.96    96  48.86  15.05   60.91  55.96
596      Guntur  Andhra Pradesh  38.92    97  49.40  15.25   60.65  56.03
597    Dehradun     Uttarakhand  38.91    98  47.99   9.74   60.76  62.23
598    Bengluru       Karnataka  38.89    99  39.29  12.72   73.89  59.54
599    Dehradun     Uttarakhand  38.88   100  46.46  15.08   60.13  61.98

     Perception  Year
500      100.00  2021
501       67.88  2021
502       58.57  2021
503       45.77  2021
504       48.36  2021
..          ...   ...
595       20.01  2021
596       18.00  2021
597       32.17  2021
598       25.52  2021
599       21.90  2021

[100 rows x 12 columns]
Score                  82.670000
TLR                    79.130000
RPC                    91.480000
GO                    100.000000
OI                     78.430000
Perception            100.000000
Year                 2021.000000
Score_ZScore            4.595690
TLR_ZScore              2.913084
RPC_ZScore              4.498161
GO_ZScore               3.053469
OI_ZScore               2.535052
Perception_ZScore       4.768008
dtype: float64
Maximum Z Scores:  4.595689558466136 2.9130838441745497 4.498160547267104 3.053469307536843 2.5350521247796896 4.768007530563756

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Year  Score_ZScore  TLR_ZScore  RPC_ZScore  GO_ZScore  OI_ZScore  \
500  2021      4.595690    2.913084    4.498161   0.872842   0.031494
501  2021      2.683305    1.919809    1.311381   2.559648   1.901667
502  2021      2.166127    1.082907    1.314122   3.053469  -0.625627
503  2021      1.910795    1.295573    1.240138   2.224090   0.355058
504  2021      1.802670    1.049131    1.953259   0.183696   0.924730
..    ...           ...         ...         ...        ...        ...
595  2021     -1.098475   -0.873619   -0.737556  -0.862044  -0.272081
596  2021     -1.103686   -0.806066   -0.723855  -0.888087  -0.263336
597  2021     -1.104988   -0.982454   -1.101309  -0.877069   0.511218
598  2021     -1.107594   -2.070802   -0.897169   0.438119   0.175162
599  2021     -1.108896   -1.173853   -0.735501  -0.940174   0.479986

     Perception_ZScore  Score Parameter  TLR Parameter  RPC Parameter  \
500           4.768008                1              1              1
501           2.523170                1              1              0
502           1.872503                1              1              0
503           0.977923                1              1              0
504           1.158936                1              1              1
..                 ...              ...            ...            ...
595          -0.822420                0              0              0
596          -0.962897                0              0              0
597           0.027431                0              0              0
598          -0.437331                0              0              0
599          -0.690329                0              0              0

     GO Parameter  OI Parameter  Perception Parameter
500             0             0                     1
501             1             1                     1
502             1             0                     1
503             1             0                     0
504             0             1                     0
..            ...           ...                   ...
595             0             0                     0
596             0             0                     0
597             0             0                     0
598             0             0                     0
599             0             0                     0

[100 rows x 13 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df16

,Year,Score_ZScore,TLR_ZScore,RPC_ZScore,GO_ZScore,OI_ZScore,Perception_ZScore,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
0,2016,2.868440,1.835069,2.204328,0.578280,0.236926,1.251479,1,1,1,1,0,1
1,2016,2.464522,1.208862,2.227255,0.394724,-0.165026,1.175402,1,1,1,1,0,1
2,2016,2.356619,1.519441,1.511221,0.578280,0.702230,1.200761,1,1,1,1,1,1
3,2016,2.261130,0.575081,1.798693,0.171703,1.813426,1.200761,1,0,1,0,1,1
4,2016,2.152273,1.163412,1.647020,0.185164,0.934518,0.896450,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2016,-1.331164,-0.131926,-2.024273,-0.270973,-0.207989,0.338546,0,0,0,0,0,0
96,2016,-1.348352,1.530803,-1.782655,-2.480990,-0.071820,-1.284446,0,1,0,0,0,0
97,2016,-1.381773,-0.972129,-0.581622,-2.480990,-1.538365,0.338546,0,0,0,0,0,0
98,2016,-1.392276,0.129414,-2.241787,0.507917,-1.024273,0.338546,0,0,0,1,0,0
99,2016,-1.405645,0.107951,-1.492832,0.578280,-0.462122,-1.284446,0,0,0,1,0,0

In [ ]:
df17

,Year,Score_ZScore,TLR_ZScore,RPC_ZScore,GO_ZScore,OI_ZScore,Perception_ZScore,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
100,2017,5.190210,2.688815,4.594803,1.569494,-0.114498,5.525655,1,1,1,1,0,1
101,2017,2.460416,0.987208,0.944044,2.404269,1.697929,2.776895,1,1,0,1,1,1
102,2017,2.132841,-0.168265,2.033213,2.066162,0.014590,2.528394,1,0,1,1,0,1
103,2017,2.048751,2.297446,2.167317,0.078713,-1.330869,-0.298880,1,1,1,0,0,0
104,2017,1.932029,-0.104252,2.314355,1.837648,-0.817117,1.369738,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2017,-1.024934,-1.267017,-0.842193,0.745600,-0.519089,-0.823324,0,0,0,1,0,0
196,2017,-1.037485,-0.921023,-0.079775,-1.434609,-0.130959,-0.508505,0,0,0,0,0,0
197,2017,-1.045015,-0.767068,-0.792500,-0.302921,-0.646444,-0.361386,0,0,0,0,0,0
198,2017,-1.065096,-1.062824,-0.412652,-0.590506,-0.486167,-0.497071,0,0,0,0,0,0
199,2017,-1.121575,-0.596908,-0.936815,-0.839229,0.024119,-0.363673,0,0,0,0,0,0

In [ ]:
df18

,Year,Score_ZScore,TLR_ZScore,RPC_ZScore,GO_ZScore,OI_ZScore,Perception_ZScore,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
200,2018,4.737927,2.113262,4.416653,0.726076,-0.895725,6.020719,1,1,1,0,0,1
201,2018,2.841441,1.150471,1.276553,2.920735,2.483115,2.383526,1,1,0,1,1,1
202,2018,2.315000,0.214125,1.805085,2.577239,-0.001214,2.203427,1,0,1,1,0,1
203,2018,2.224010,-0.553757,2.452795,1.066786,-0.056232,3.530474,1,0,1,1,0,1
204,2018,1.927644,1.116191,1.454026,1.558821,0.243519,0.716592,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2018,-1.043821,-1.136524,-0.107604,-0.282131,-2.440012,-0.587435,0,0,0,0,0,0
296,2018,-1.052920,0.461924,-1.204178,-1.482509,0.348812,-0.749931,0,0,0,0,0,0
297,2018,-1.064619,-1.827030,-0.075219,-1.009970,0.136330,-0.149374,0,0,0,0,0,0
298,2018,-1.065919,-0.857383,-0.881618,-0.695254,0.762392,-0.535301,0,0,0,0,1,0
299,2018,-1.071118,-1.936728,-0.344666,-0.664618,-0.009751,0.492483,0,0,0,0,0,0

In [ ]:
df19

,Year,Score_ZScore,TLR_ZScore,RPC_ZScore,GO_ZScore,OI_ZScore,Perception_ZScore,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
300,2019,4.640280,2.077161,4.532868,0.826766,-0.713489,5.526521,1,1,1,0,0,1
301,2019,2.883826,1.410851,1.321519,2.757066,2.373453,2.677132,1,1,0,1,1,1
302,2019,2.350433,0.680093,1.635267,2.439880,0.248645,2.168154,1,1,1,1,0,1
303,2019,2.001725,1.209191,1.452304,1.286232,0.446931,1.494824,1,1,1,1,0,0
304,2019,1.875157,-0.095362,1.677281,2.002164,0.601278,1.538141,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2019,-0.990705,-0.178521,-0.591467,-2.058714,0.599025,-0.339793,0,0,0,0,0,0
396,2019,-0.991996,-0.712816,-0.613829,-0.526256,-1.013171,-0.544276,0,0,0,0,0,0
397,2019,-1.001037,-1.340665,-0.794760,0.409894,-0.852064,-0.318134,0,0,0,0,0,0
398,2019,-1.016535,-0.184758,-1.332808,-0.254383,0.464957,-0.817557,0,0,0,0,0,0
399,2019,-1.020409,0.069916,-1.404638,-0.288820,0.090918,-0.843675,0,0,0,0,0,0

In [ ]:
df20

,Year,Score_ZScore,TLR_ZScore,RPC_ZScore,GO_ZScore,OI_ZScore,Perception_ZScore,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
400,2020,4.688628,2.280633,4.574584,1.239678,-0.496501,4.940239,1,1,1,1,0,1
401,2020,2.853881,1.484074,1.387382,2.797892,2.250797,2.591909,1,1,1,1,1,1
402,2020,1.936508,1.036285,1.393439,1.491032,0.234137,1.642111,1,1,1,1,0,1
403,2020,1.821346,0.897658,1.879325,0.399098,1.106707,0.949654,1,1,1,0,1,0
404,2020,1.784703,-0.892399,1.936528,1.922706,-1.011156,2.892977,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2020,-1.086505,-2.046528,-0.853620,0.714201,-1.571476,0.567585,0,0,0,0,0,0
496,2020,-1.087814,-0.649250,-1.064933,-0.752032,0.360024,-0.311964,0,0,0,0,0,0
497,2020,-1.096974,1.010980,-1.280285,-1.896787,-0.028744,-0.884710,0,1,0,0,0,0
498,2020,-1.120530,-1.276375,-0.957931,-0.102700,-0.985238,0.152541,0,0,0,0,0,0
499,2020,-1.131000,-0.451211,-1.064933,-0.790282,0.153915,-0.757114,0,0,0,0,0,0

In [ ]:
df21

,Year,Score_ZScore,TLR_ZScore,RPC_ZScore,GO_ZScore,OI_ZScore,Perception_ZScore,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
500,2021,4.595690,2.913084,4.498161,0.872842,0.031494,4.768008,1,1,1,0,0,1
501,2021,2.683305,1.919809,1.311381,2.559648,1.901667,2.523170,1,1,0,1,1,1
502,2021,2.166127,1.082907,1.314122,3.053469,-0.625627,1.872503,1,1,0,1,0,1
503,2021,1.910795,1.295573,1.240138,2.224090,0.355058,0.977923,1,1,0,1,0,0
504,2021,1.802670,1.049131,1.953259,0.183696,0.924730,1.158936,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,2021,-1.098475,-0.873619,-0.737556,-0.862044,-0.272081,-0.822420,0,0,0,0,0,0
596,2021,-1.103686,-0.806066,-0.723855,-0.888087,-0.263336,-0.962897,0,0,0,0,0,0
597,2021,-1.104988,-0.982454,-1.101309,-0.877069,0.511218,0.027431,0,0,0,0,0,0
598,2021,-1.107594,-2.070802,-0.897169,0.438119,0.175162,-0.437331,0,0,0,0,0,0
599,2021,-1.108896,-1.173853,-0.735501,-0.940174,0.479986,-0.690329,0,0,0,0,0,0

In [ ]:
dff=pd.concat([df16,df17,df18,df19,df20,df21])
dff

,Year,Score_ZScore,TLR_ZScore,RPC_ZScore,GO_ZScore,OI_ZScore,Perception_ZScore,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
0,2016,2.868440,1.835069,2.204328,0.578280,0.236926,1.251479,1,1,1,1,0,1
1,2016,2.464522,1.208862,2.227255,0.394724,-0.165026,1.175402,1,1,1,1,0,1
2,2016,2.356619,1.519441,1.511221,0.578280,0.702230,1.200761,1,1,1,1,1,1
3,2016,2.261130,0.575081,1.798693,0.171703,1.813426,1.200761,1,0,1,0,1,1
4,2016,2.152273,1.163412,1.647020,0.185164,0.934518,0.896450,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,2021,-1.098475,-0.873619,-0.737556,-0.862044,-0.272081,-0.822420,0,0,0,0,0,0
596,2021,-1.103686,-0.806066,-0.723855,-0.888087,-0.263336,-0.962897,0,0,0,0,0,0
597,2021,-1.104988,-0.982454,-1.101309,-0.877069,0.511218,0.027431,0,0,0,0,0,0
598,2021,-1.107594,-2.070802,-0.897169,0.438119,0.175162,-0.437331,0,0,0,0,0,0
599,2021,-1.108896,-1.173853,-0.735501,-0.940174,0.479986,-0.690329,0,0,0,0,0,0

In [ ]:
data

,Institute Id,Institute Name,City,State,Score,Rank,TLR,RPC,GO,OI,Perception,Year
0,NIRF-UNIV-248,Indian Institute Of Science Bangalore,Bangalore,Karnataka,91.81,1,94.45,96.12,100.00,67.18,100.00,2016
1,NIRF-UNIV-282,Institute Of Chemical Technology,Mumbai,Maharashtra,87.58,2,84.53,96.51,94.00,61.66,97.00,2016
2,NIRF-UNIV-319,Jawaharlal Nehru University,New Delhi,Delhi,86.45,3,89.45,84.33,100.00,73.57,98.00,2016
3,NIRF-UNIV-745,University Of Hyderabad-Hyderabad,Hyderabad,Telangana,85.45,4,74.49,89.22,86.71,88.83,98.00,2016
4,NIRF-UNIV-708,Tezpur University,Tezpur,Assam,84.31,5,83.81,86.64,87.15,76.76,86.00,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
595,IR-O-U-0121,Goa University,Goa,Goa,38.96,96,48.86,15.05,60.91,55.96,20.01,2021
596,IR-O-U-0043,"Vignan'S Foundation For Science, Technology An...",Guntur,Andhra Pradesh,38.92,97,49.40,15.25,60.65,56.03,18.00,2021
597,IR-O-U-0555,Graphic Era University,Dehradun,Uttarakhand,38.91,98,47.99,9.74,60.76,62.23,32.17,2021
598,IR-O-U-0223,"Jain University, Bangalore",Bengluru,Karnataka,38.89,99,39.29,12.72,73.89,59.54,25.52,2021
599,IR-O-U-0564,University Of Petroleum And Energy Studies,Dehradun,Uttarakhand,38.88,100,46.46,15.08,60.13,61.98,21.90,2021

In [ ]:
data['Score Parameter']=dff['Score Parameter']
data['TLR Parameter']=dff['TLR Parameter']
data['RPC Parameter']=dff['RPC Parameter']
data['GO Parameter']=dff['GO Parameter']
data['OI Parameter']=dff['OI Parameter']
data['Perception Parameter']=dff['Perception Parameter']

In [ ]:
data

,Institute Id,Institute Name,City,State,Score,Rank,TLR,RPC,GO,OI,Perception,Year,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
0,NIRF-UNIV-248,Indian Institute Of Science Bangalore,Bangalore,Karnataka,91.81,1,94.45,96.12,100.00,67.18,100.00,2016,1,1,1,1,0,1
1,NIRF-UNIV-282,Institute Of Chemical Technology,Mumbai,Maharashtra,87.58,2,84.53,96.51,94.00,61.66,97.00,2016,1,1,1,1,0,1
2,NIRF-UNIV-319,Jawaharlal Nehru University,New Delhi,Delhi,86.45,3,89.45,84.33,100.00,73.57,98.00,2016,1,1,1,1,1,1
3,NIRF-UNIV-745,University Of Hyderabad-Hyderabad,Hyderabad,Telangana,85.45,4,74.49,89.22,86.71,88.83,98.00,2016,1,0,1,0,1,1
4,NIRF-UNIV-708,Tezpur University,Tezpur,Assam,84.31,5,83.81,86.64,87.15,76.76,86.00,2016,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,IR-O-U-0121,Goa University,Goa,Goa,38.96,96,48.86,15.05,60.91,55.96,20.01,2021,0,0,0,0,0,0
596,IR-O-U-0043,"Vignan'S Foundation For Science, Technology An...",Guntur,Andhra Pradesh,38.92,97,49.40,15.25,60.65,56.03,18.00,2021,0,0,0,0,0,0
597,IR-O-U-0555,Graphic Era University,Dehradun,Uttarakhand,38.91,98,47.99,9.74,60.76,62.23,32.17,2021,0,0,0,0,0,0
598,IR-O-U-0223,"Jain University, Bangalore",Bengluru,Karnataka,38.89,99,39.29,12.72,73.89,59.54,25.52,2021,0,0,0,0,0,0
599,IR-O-U-0564,University Of Petroleum And Energy Studies,Dehradun,Uttarakhand,38.88,100,46.46,15.08,60.13,61.98,21.90,2021,0,0,0,0,0,0

In [ ]:
#data.to_csv("UniversityRanking_upd.csv",index=False)

In [ ]:
yr=int(input('Enter the year:'))
colname=input("Enter any one Column Name[Institute Id,Institute Name,City,State,Rank]:")
colname=colname.title()
colvalue=input("Enter corresponding Column Value[Institute Id,Institute Name,City,State,Rank]:")
if colname=='Rank':
    colvalue=int(colvalue)
elif colname=='Institute Id':
    colvalue=colvalue.upper()
else:
    colvalue=colvalue.title()
fetch=data[colname]==colvalue
rec=data[fetch]
record=data[fetch]

Enter the year:2018
Enter any one Column Name[Institute Id,Institute Name,City,State,Rank]:rank
Enter corresponding Column Value[Institute Id,Institute Name,City,State,Rank]:45

In [ ]:
record

,Institute Id,Institute Name,City,State,Score,Rank,TLR,RPC,GO,OI,Perception,Year,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
45,NIRF-UNIV-338,Kalyani University,Kalyani,West Bengal,61.30,45,50.02,69.60,0.00,59.83,95.00,2016,0,0,0,0,0,1
144,IR17-I-2-1-299,Jagadguru Sri Shivarathreeshwara University,Mysore,Karnataka,41.18,45,55.34,10.32,61.55,76.67,14.99,2017,0,0,0,0,1,0
244,IR-4-O-OEMA-U-0474,Sathyabama Institute Of Science And Technology,Chennai,Tamil Nadu,44.34,45,52.38,29.43,65.31,63.14,4.30,2018,0,0,0,0,1,0
344,IR-O-U-0463,Madurai Kamraj University,Madurai,Tamil Nadu,45.20,45,63.94,28.11,57.10,41.36,20.28,2019,0,0,0,0,0,0
444,IR-O-U-0098,Delhi Technological University,New Delhi,Delhi,48.06,45,57.71,28.86,66.91,54.62,32.53,2020,0,0,0,0,0,0
544,IR-O-U-0052,Gauhati University,Guwahati,Assam,47.35,45,55.17,19.05,83.56,58.40,25.34,2021,0,0,0,1,0,0

In [ ]:
rec1=rec
rec1.drop('Institute Id',inplace=True,axis=1)
rec1.drop('Institute Name',inplace=True,axis=1)
rec1.drop('City',inplace=True,axis=1)
rec1.drop('State',inplace=True,axis=1)
rec1.drop('Rank',inplace=True,axis=1)
rec1.drop('Score',inplace=True,axis=1)
rec1.drop('TLR',inplace=True,axis=1)
rec1.drop('RPC',inplace=True,axis=1)
rec1.drop('GO',inplace=True,axis=1)
rec1.drop('OI',inplace=True,axis=1)
rec1.drop('Perception',inplace=True,axis=1)
rec

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Year,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
45,2016,0,0,0,0,0,1
144,2017,0,0,0,0,1,0
244,2018,0,0,0,0,1,0
344,2019,0,0,0,0,0,0
444,2020,0,0,0,0,0,0
544,2021,0,0,0,1,0,0

In [ ]:
fet=rec['Year']==yr
rc=rec[fet]
rc

,Year,Score Parameter,TLR Parameter,RPC Parameter,GO Parameter,OI Parameter,Perception Parameter
244,2018,0,0,0,0,1,0

In [ ]:
if len(rc)!=0:
    dict=rc.to_dict(orient='records')
    print(dict)
else:
    print('Data Not Available')

[{'Year': 2018, 'Score Parameter': 0, 'TLR Parameter': 0, 'RPC Parameter': 0, 'GO Parameter': 0, 'OI Parameter': 1, 'Perception Parameter': 0}]

In [ ]:
c=0
if len(rc)!=0:
    for i in dict:
        print("The college/university needs improvement in: ")
        for j in i:
            if i[j]==0:
                print(j)
                c+=1
        if c==0:print('Nothing')
else:
    print('Data Not Available')

The college/university needs improvement in:
Score Parameter
TLR Parameter
RPC Parameter
GO Parameter
Perception Parameter